<div class="page-title">

    <h2>Dashboard</h2>

    <span>
        Painel de Inteligência Climática da Mantiqueira Vulcânica
    </span>

</div>


<div class="header-info">

    <i class="bi bi-calendar-event"></i>

    <div>

        <small>Data</small>

        <strong>
            {{ kpis.ultima_atualizacao|date:"d/m/Y" }}
        </strong>

    </div>

</div>


<div class="header-info">

    <i class="bi bi-clock-history"></i>

    <div>

        <small>Atualização</small>

        <strong>
            {{ kpis.ultima_atualizacao|date:"H:i" }}
        </strong>

    </div>

</div>


<button
    type="button"
    class="update-button"
    onclick="window.location.reload();">

    <i class="bi bi-arrow-repeat"></i>

    Atualizar Dados

</button>


<div class="user-profile">

    <img
        src="https://ui-avatars.com/api/?name=Walter&background=4F3019&color=fff"
        alt="Usuário">

    <div>

        <strong>Walter</strong>

        <small>Administrador</small>

    </div>

</div>