<section class="dashboard-panel">

    <div class="panel-header">

        <div>

            <h2>
                Ranking Climático
            </h2>

            <p>
                Municípios com melhores condições para a cafeicultura.
            </p>

        </div>

    </div>

    <div class="ranking-list">

        <div class="ranking-item">

            <div class="ranking-position">

                🥇

            </div>

            <div class="ranking-city">

                <strong>São Sebastião da Grama</strong>

                <span>Índice AgroClima: 97%</span>

            </div>

        </div>

        <div class="ranking-item">

            <div class="ranking-position">

                🥈

            </div>

            <div class="ranking-city">

                <strong>Divinolândia</strong>

                <span>Índice AgroClima: 95%</span>

            </div>

        </div>

        <div class="ranking-item">

            <div class="ranking-position">

                🥉

            </div>

            <div class="ranking-city">

                <strong>Águas da Prata</strong>

                <span>Índice AgroClima: 94%</span>

            </div>

        </div>

        <div class="ranking-item">

            <div class="ranking-position">

                4°

            </div>

            <div class="ranking-city">

                <strong>Caconde</strong>

                <span>Índice AgroClima: 92%</span>

            </div>

        </div>

        <div class="ranking-item">

            <div class="ranking-position">

                5°

            </div>

            <div class="ranking-city">

                <strong>Espírito Santo do Pinhal</strong>

                <span>Índice AgroClima: 91%</span>

            </div>

        </div>

    </div>

</section>